
.footer {
    background-color:#041f60 ;
    color: #fff ;
  
    text-align: center;
    font-size: 1em;
  }
  
  .social-links {
    display: flex;
    justify-content: space-around;
  }
  
  .contact-info {
    margin-top: 20px;
    
    font-weight: 0.5em;
  }
  .contact-info p {
    margin: 0;
  }
 