.declaration-container {
    flex-grow: 1;
    padding: 1.5em;
    margin-top: 6em;
}

.button-container {
    display: flex;
    gap:0.2em
}

.declaration-container a {
    background-color: red;
    margin-left: 5px;
    border: none;
}

.declaration-container a:hover{
    background-color: red;
    border: none;
}