.products-container {
    flex-grow: 1;
    margin: 0 auto;
    text-align: center;

}

.products-container a {
    background-color: yellowgreen;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.3em;
}