.create-company-container {

    flex-grow: 1;
    margin: 2em auto;
    padding: 1em;

}

.create-company-container a {
    background-color: #42777b;
    margin: 10px 0 0 10px;
    border-color: #42777b;
}

.create-company-container a:hover {
    background-color: #fff;
    border-color: #42777b;
    color: #42777b;

}

