.new-product-form-container {
    flex-grow: 1;
    max-width: 40em;
    margin: 2em auto ;
    padding: 2em;
    
}

.new-product-form-container .product-form {
    padding: 2em;
    height: 22em;
    margin: auto 0;
    background-color: #f8f8f8;
}

.new-product-form-container .save-btn {
    display: block;
  
}

.actions {
    display: flex;
    justify-content: center;
    margin: 17px auto;
    gap: 0.2em;
}

.actions a {
 
        background-color: #42777b ;
        border:none;
    }
    
    .actions a:hover {
        color: #42777b ;
        background-color: #fff;
        border:1px solid #42777b;
    } 


