.dashboard-container {
    flex-grow: 1;
    max-width: 9em;
    background-color: #46595E;
    margin: 0.1em;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.aside-list-items {
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;

}

.dashboard-container li {
    display: block;
    background-color:#42777B ;
    padding: 0.5em;
    width: 7em;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.3em;
    
}

.dashboard-container li a {
    text-decoration: none;
    color: #fff;
}