path {
    opacity: 0.95;
  }
  .container svg {
     
     
     
      position: relative;
      top: 100px;
     
      width: 205px;
      height: 210px;
      margin: 0 auto;
      display: block
  }