.add-form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 7em;
}

.client-container {
   width: 22em;
}
.client-container select {
    padding: 1em;
    max-width: 7.2em;
}


