.declarations-container {
    flex-grow: 1;
}

.declarations-container .column {
    border: 2px solid #0476d0;
    max-width: 33em;
    margin: 5px auto;
    text-align: center;
    color: black;
    padding: 1em 4em;
  
    gap: 0.5em;
    justify-content: space-evenly;
    

}

.declarations-container .column svg:hover {
    cursor: pointer;
}

.declarations-container .column span{
    color: #42777b;
    font-weight: 700;
}

