.companies-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

.companies-container a {
    display: block;
    margin: 0 auto;
}

.button-container {
    display: flex;
    gap: 0.5em;
}

.companies-container h3 {
    text-align: center;
}